.profile {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.input:disabled {
  background-color: white;
}

@media (min-width: 768px) {
  .profile {
    width: 360px;
    height: 528px;
  }
  .form {
    width: 50%;
  }
}
